.counterDiv {
    flex: 1;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: row;
}

.doublecard {
    display: flex;
}

.title {
    font-size: 20px;
    position: relative;
    top: -20%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-family: 'Athletic', Arial, Helvetica, sans-serif;
}